{
  "Techno": [
    { "name": "Amelie Lens", "sources": [] },
    { "name": "Charlotte de Witte", "sources": [] },
    { "name": "Andres Campo", "sources": [] },
    { "name": "Novah", "sources": [] }
  ],
  "Melodic Techno": [
    { "name": "Miss Monique", "sources": [] },
    { "name": "Anyma", "sources": [] }
  ],
  "Hard Techno": [
    { "name": "Fatima Hajji", "sources": [] },
    { "name": "Klangkuenstler", "sources": [] },
    { "name": "Sara Landry", "sources": [] }
  ],
  "Hard Dance": [
    { "name": "Sub Zero Project", "sources": [] },
    { "name": "Rooler", "sources": [] }
  ]
}
